body {
    background-color: #f8f8f8;
    color: black;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 20px;
}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1px 20px 20px 20px;
}
h1 {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: 800;
}
